*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: linear-gradient(
    156.8deg,
    rgb(30, 144, 231) 27.1%,
    rgb(67, 101, 225) 77.8%
  );
  --input-border-color: 1px solid black;
  --input-border-color-focused: #0d6efd;
  --input-label-color: lightslategrey;
}

.object-pos-center {
  object-position: center;
}

.unset-anchor {
  all: unset;
  cursor: pointer;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}
