*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: linear-gradient(
    156.8deg,
    rgb(30, 144, 231) 27.1%,
    rgb(67, 101, 225) 77.8%
  );
  --input-border: 1px solid black;
  --input-border-color-focused: #0d6efd;
  --input-label-color: lightslategrey;
}

.object-pos-center {
  object-position: center;
}

.unset-anchor {
  all: unset;
  cursor: pointer;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

#main {
  margin-top: 4.6rem;
}

.unset-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 100%;
}

.w-100px {
  width: 100px;
}

.w-200px {
  width: 200px;
}

.w-300px {
  width: 300px;
}

.w-400px {
  width: 400px;
}

.w-500px {
  width: 500px;
}

.mw-400px {
  max-width: 400px;
}

.mw-500px {
  max-width: 500px;
}

.mw-600px {
  max-width: 600px;
}

.mw-700px {
  max-width: 700px;
}

.mw-800px {
  max-width: 800px;
}

.mw-900px {
  max-width: 900px;
}

.m-50auto {
  margin: 50px auto;
}

.m-70auto {
  margin: 70px auto;
}

.mt-minus-10px {
  margin-top: -10px;
}

.pre-wrap {
  white-space: pre-wrap;
}
