.user-profile-wrapper .user-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgb(197, 193, 193);
}

@media (max-width: 575px) {
  .user-profile-wrapper .user-profile-info {
    padding-bottom: 10px;
    border-right: none;
    border-bottom: 1px solid rgb(197, 193, 193);
  }
}
