.textarea-wrapper {
  position: relative;
  margin-bottom: 11px;
}

.textarea-wrapper > .textarea-input:focus {
  border-color: var(--input-border-color-focused);
  outline: var(--input-border-color-focused);
}

.textarea-wrapper > .textarea-input:hover {
  border-color: var(--input-border-color-focused);
  outline: var(--input-border-color-focused);
}

.textarea-wrapper > .textarea-input {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 9px;
}

.textarea-wrapper > .textarea-label {
  position: absolute;
  left: 15px;
  top: -10px;
  font-size: 15px;
  background: white;
  padding: 0 3px;
  background: linear-gradient(transparent 44%, white 42%) no-repeat;
  color: lightslategrey;
}
