.user-select-wrapper .users-body {
  height: 500px;
  overflow-y: auto;
}

.user-select-wrapper .selected-users-body {
  height: 500px;
  overflow-y: auto;
}

@media (max-width: 767.98px) {
  .user-select-wrapper .users-body {
    height: auto;
    max-height: 300px;
  }
  .user-select-wrapper .selected-users-body {
    height: auto;
    max-height: 300px;
  }
}
