.date-input-wrapper {
  position: relative;
  margin-bottom: 11px;
}

.react-datepicker__input-container > .date-input {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
  padding: 6px;
  cursor: pointer;
}

.react-datepicker-wrapper {
  width: 100%;
}

.date-input-wrapper > .date-input-label {
  position: absolute;
  left: 15px;
  top: -10px;
  font-size: 15px;
  padding: 0 3px;
  z-index: 1;
  background: white;
  background: linear-gradient(transparent 44%, white 42%) no-repeat;
  color: lightslategrey;
}

.react-datepicker {
  width: 100%;
  display: flex;
}
