.date-input-wrapper {
  position: relative;
  margin-bottom: 11px;

  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
  padding: 6px;
  cursor: pointer;

  display: flex;

  cursor: pointer;
}

.date-input-wrapper input {
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.date-input-wrapper > .date-input {
  display: flex;
  width: 100%;
}

.react-datepicker-wrapper {
  flex-grow: 1;
}

.react-datepicker-wrapper {
  width: 100%;
}

.date-input-wrapper > .date-input-label {
  position: absolute;
  left: 15px;
  top: -12px;
  font-size: 15px;
  padding: 0 3px;
  z-index: 1;
  background: white;
  background: linear-gradient(transparent 44%, white 42%) no-repeat;
  color: lightslategrey;
}

.react-datepicker {
  width: 100%;
  display: flex;
}

.react-datepicker-popper {
  z-index: 2;
}

.date-input-wrapper .clear-button {
  background-color: transparent;
  border: none;
  color: var(--input-label-color);
  border-left: 1px solid var(--input-label-color);
  margin-left: auto;
  padding: 0 9px 0 12px;
}
