.image-cropper-wrapper .crop-container {
  height: 320px;
}

.image-cropper-wrapper .crop-container .reactEasyCrop_CropArea {
  border: 3px dashed rgba(212, 21, 21, 0.8);
}

.image-cropper-wrapper .card-body {
  overflow: hidden;
  position: relative;
}
