.doctor-card {
  border-radius: 10px;
  margin-bottom: 20px;
}

.doctor-name {
  font-size: 1.75rem;
}

.doctor-image-container {
  height: 420px;
  width: 300px;
  float: left;
  margin-right: 20px;
  overflow: hidden;
}

.doctor-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border: 1px solid red;
  transition: 0.3s ease-out;
}

.doctor-description {
  height: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.doctor-info {
  padding: 10px;
}

.doctor-card-bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: red;
  transition: 0.5s ease-in-out;
  display: inline-block;
}

.doctor-card:hover .doctor-card-bar {
  width: 300px;
}

.doctor-card:hover .doctor-image {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .doctor-card {
    display: flex;
    flex-direction: column;
  }

  .doctor-image-container {
    height: 300px;
    width: 100%;
    float: none;
    margin-right: 0;
  }

  .doctor-description {
    max-height: 500px;
  }

  #doctor-3 .doctor-image {
    object-position: center;
  }
}
