.main-image-wrapper {
  display: flex;
  height: 400px;
}

.main-image-wrapper img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.subscribers {
  height: 100vh;
  overflow-y: scroll;
}

@media (max-width: 991px) {
  .subscribers {
    height: 350px;
  }
}

@media (max-width: 486px) {
  .main-image-wrapper {
    height: 200px;
  }
}
