.event-view-wrapper .main-image-wrapper {
  display: flex;
  height: 400px;
}

.event-view-wrapper .main-image-wrapper img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.event-view-wrapper .subscribers-card {
  position: sticky;
  top: 4.8em;
}

.event-view-wrapper .subscribers {
  height: 70vh;
  overflow-y: scroll;
}

@media (max-width: 991px) {
  .event-view-wrapper .subscribers {
    height: 350px;
  }
}

@media (max-width: 486px) {
  .event-view-wrapper .main-image-wrapper {
    height: 200px;
  }
}
